@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
}
body, ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, a, img {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    vertical-align: top;
}
a {
    color: #613a43;
    text-decoration: none;
}
a:visited {
    color: #613a43;
    text-decoration: none;
}
/*リセットCSS*/
body {
    background-color: #e9dccd;
    font-family: '游ゴシック', 'Yu Gothic';
    word-break: break-all;
    max-width: 100%;
}
body::before {
    background: url("../images/main02sp.png") no-repeat;
    background-size: auto;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}
.wrap {
    overflow: hidden;
}
header {
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    z-index: 5;
}
header .box {
    display: flex;
    justify-content: space-between;
}
header .box img {
    padding: 5px 10px;
    width: 70%;
    box-sizing: border-box;
}
header .sp {
    display: none;
}
header ul {
    display: flex;
    align-items: center;
}
header li {
    font-size: 14px;
    display: inline;
}
header li a {
    display: block;
    width: 100%;
}
header li:hover {
    background-color: rgba(169,169,169,0.2);
}
.ig {
    background-image: url("../images/Instagram.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40%;
}
.ig a {
    color: rgba(0,0,0,0);
    font-size: 10px;
	padding:5px 0; 
}
/*1つめ*/
.contents h1 {
    margin: 40px auto;
    text-align: center;
}
.contents img {
    border-radius: 30px;
    width: 90%;
}
h2 {
    padding-bottom: 20px;
    margin: 0 auto 30px;
    border-bottom: 1px dashed #FFFFFF;
    font-size: 17px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
/*2つめ　実績*/
#contents02 {
    width: 90%;
    margin: 0 auto;
    color: #FFF;
    background-color: #36384c;
    text-align: center;
    font-size: 13px;
    box-sizing: border-box;
    padding: 50px 20px;
}
#contents02 img {
    width: 100%;
}
#contents02 .pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
}
#contents02 .box {
    width: 48%;
    margin-top: 10px;
}
.border_radius {
    border-radius: 20px;
}
/*3つめ　制作の流れ*/
#contents03 {
    width: 90%;
    box-sizing: border-box;
    margin: 0px auto;
    color: #FFF;
    background-color: #613a43;
    padding: 40px 15px;
}
#contents03 .h2u {
    font-size: 13px;
    text-align: center;
    padding-bottom: 70px;
}
#contents03 .h2u span {
    font-size: 14px;
}
#contents03 .box {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
#contents03 .s_titlle {
    font-size: 15px;
    line-height: 30px;
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 10px;
    padding-left: 5px;
    box-sizing: border-box;
}
#contents03 p {
    font-size: 12px;
}
#contents03 span {
    line-height: 30px;
    font-size: 10px;
    padding-left: 5px;
    box-sizing: border-box;
}
#contents03 .step {
    width: 40px;
    height: 40px;
    line-height: 1.1em;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: #fff;
    color: #613a43;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}
#contents03 .text {
    padding-left: 10px;
    width: 80%;
    box-sizing: border-box;
}
#contents03 .text p {
    padding-left: 5px;
    box-sizing: border-box;
}
#contents03 .triangle {
    width: 0;
    height: 0px;
    border: 20px solid transparent;
    border-top: 20px solid #B78892;
    margin-top: 6px;
    box-sizing: border-box;
}
/*4つめ　価格*/
#contents04 {
    width: 90%;
    box-sizing: border-box;
    margin: 0px auto;
    color: #FFF;
    background-color: #36384c;
    font-size: 13px;
    padding: 50px 20px;
}
.small {
    font-size: 11px;
    padding-bottom: 10px;
}
.attention {
    font-size: 10px;
    vertical-align: text-top;
}
#contents04 table {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    border-collapse: collapse;
}
#contents04 table th, #contents04 table td {
    border: solid 1px #1A1A1A;
    background-color: #ECECEC;
    color: #1A1A1A;
}
#contents04 table th {
    background-color: #C3C3C3;
    font-weight: normal;
    color: #000;
}
/*5つめ　フォーム*/
#contents05 {
    width: 90%;
    box-sizing: border-box;
    margin: 0px auto 50px;
    color: #FFF;
    background-color: #613a43;
    padding: 50px 20px;
}
#contents05 .center {
    text-align: center;
}
.twitter:hover {
    opacity: 0.7;
}
#contents05 .text {
    margin-top: 24px;
}
footer {
    display: none;
}
