@charset "utf-8";
/*
Theme Name: sample-page
Theme URI: localhost/wordpress/
Description: azukina-felt
Author: azusawa kinako
Author URI: localhost/wordpress/
Version: 1.0.0
*/
/* CSS Document */

/*リセットCSS*/

body, ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd,nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    vertical-align: top;
}
a{
    color: #613a43;
    text-decoration: none;
}
a:visited {
    color: #613a43;
    text-decoration: none;
}
/*リセットCSS*/
.wrap {
    overflow: hidden;
}

body {
    background-color: #e9dccd;
	font-family:'游ゴシック','Yu Gothic';
    background-image: url("images/main02.png");
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    position: fixed;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    top: 0px;
	z-index: 5;
}
header .box{
	display: flex;
	justify-content:space-between;
}
header .box p {
    padding-left: 50px;
}
header .box img {
    padding-top: 5px;
    padding-bottom: 5px;
}
header ul{
	display: flex;
	align-items:center;
	line-height: 45px;
	padding-right: 40px;
}
header li{
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: bold;	
	display:inline;
}
header li a{
    display:block;
    width:100%;	
}
header li:hover{
	    background-color: rgba(169,169,169,0.2);
}
.ig{
	    background-image: url("images/Instagram.png");
	    background-position: center center;
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: 30%;
}
.ig a{
	color: rgba(0,0,0,0);
	font-size: 10px;
}
/*1つめ*/
.contents h1 {
    margin: 100px auto 60px;
	text-align: center;
}

.contents img{
    border-radius: 30px;
}

/*2つめ　実績*/
#contents02 {
    width: 90%;
    margin: 0px auto;
    color: #FFF;
    background-color: #36384c;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    padding: 70px 30px;
}
#contents02 .pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contents02 .box{
	margin-left: 15px;
	margin-right: 15px;
}

.border_radius{
	border-radius: 20px;
}

h2 {
    padding-top: 10px;
    padding-bottom: 40px;
	margin: 0 auto 50px;
    border-bottom: 1px dashed #FFFFFF;
	font-size: 20px;
	width: 80%;
	text-align: center;
}
#contents02 p {
    padding-bottom: 20px;
}
/*3つめ　制作の流れ*/
#contents03 {
    width: 90%;
    margin: 0px auto;
    color: #FFF;
    background-color: #613a43;
    box-sizing: border-box;
    padding: 70px 30px;
}
#contents03 .h2u{
	font-size: 14px;
	text-align: center;
	padding-bottom: 70px;
}
#contents03 .h2u span{
	font-size: 17px;
}

#contents03 .box {
    display: flex;
    justify-content: center;
	height: 90px;
    padding-bottom: 35px;
}
#contents03 .s_titlle {
    font-size: 18px;
    line-height: 30px;
    width: 400px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 10px;
	padding-left: 5px;
}
#contents03 p {
    font-size: 12px;
}
#contents03 span {
    line-height: 30px;
    font-size: 10px;
	padding-left: 5px;
}
#contents03 .step {
    width: 50px;
    height: 50px;
    line-height: 1.2em;
    padding-top: 12px;
    box-sizing: border-box;
    background-color: #fff;
    color: #613a43;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
#contents03 .text {
    padding-left: 30px;
}
#contents03 .text p{
    padding-left: 5px;
}

#contents03 .triangle {
  width: 0;
    height: 0px;
    border: 25px solid transparent;
    border-top: 25px solid #B78892;
	margin-top: 6px;
	box-sizing: border-box;
}
/*4つめ　価格*/
#contents04 {
    width: 90%;
    margin: 0px auto;
    color: #FFF;
    background-color: #36384c;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    padding: 70px 30px;
}

.small{
	font-size: 11px;
	padding-bottom: 10px;
}

.attention{
    font-size: 10px;
	vertical-align: text-top;
}

#contents04 table{
	width: 500px;
	margin: 30px auto;
	border-collapse: collapse;
}

#contents04 table th{
  border: solid 1px #1A1A1A;
}
	#contents04 table td{
  border: solid 1px #1A1A1A;
	background-color: #ECECEC;
	color: #1A1A1A;
}
#contents04 table td{
	line-height:1.4;
}
#contents04 table th{
    background-color: #C3C3C3;
    font-weight: normal;
	color: #000;
}

/*5つめ　フォーム*/
#contents05 {
    width: 90%;
    margin: 0px auto;
    color: #FFF;
    background-color: #613a43;
    box-sizing: border-box;
    padding: 70px 30px;
}

#contents05 .center{
	text-align: center;
}

#contents05 table{
	width: 600px;
	margin: 30px auto;
}


.twitter:hover{
	opacity: 0.7;
}


footer {
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    color: #613a43;
    line-height: 40px;
    width: 100%;
	margin-top: 50px;
}

#contents05 .text{
	margin-top: 24px;
}
.contact{
	width: 640px;
	margin: auto;
}
